* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

body {
    font-family: Verdana, sans-serif;
}

h1 {
    font: 400 2.5rem "Julius Sans One", Verdana, sans-serif;
}

h2 {
    font-size: 1rem;
}

dt {
    font-weight: bold;
}

strong {
    font-style: italic;
}
#info {
    color: cadetblue;
    font-style: italic;
}
.price {
    font-style: italic;
    color: grey;
}
.label {
    font-variant: small-caps;
}
p.warning {
    font-size: small;
    color: red;
}
dt strong {
    color: tomato;
}