* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-size: 100%;
}

body {
    font-family: Georgia, serif;
    line-height: 1.75;
}

h1 {
    font: bold 1.5rem "marko-one", Georgia, serif;
    color: olivedrab;
    text-shadow: .1em .1em 0.05em gainsboro;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    /* I don't understand why no-dot makes spacing larger */
    color: cadetblue;
}
h2 + p {
    text-align: center;
    font-size: italic;
}

dt {
    font-weight: bold;
}

strong {
    font-style: italic;
}
#info {
    color: cadetblue;
}
info p {
    font-size: italic;
}
.price {
    font-style: italic;
    color: grey;
}
.label {
    font-variant: small-caps;
    font-size: normal;
}
p.warning, sup {
    font-size: small;
    color: tomato;
}
dt {
    font-weight: bold;
    color: olivedrab;
}
dt strong {
    color: tomato;
}
h1, h2, #info {
    text-align: center;
}